global !p

from markdown_scopes import math

endglobal

################################################################
#                                                              #
#                            Common                            #
#                                                              #
################################################################

context "math()"
snippet ,i= "i 取值 Given i" Ai
,\,i=${1:1}, ${2:2}, \cdots, ${3:n}. $0
endsnippet
